#junior{
  padding-left:100px;
}

.som-blue{
  color:blue;
}

.bg {
  background: url('../images/the_algarve.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 75vh;
}

.intro{
  font-size: 5em;
  padding-top: 25vh;

}
.intro-text {
  background-color:rgba(0, 0, 0, .5);
  max-width:200px;
}

.action-icon{
  margin-top:25px;
}

.side-section {
  height:100vh;
  /*background-color*/

}

.pic{
  height:250px;
  border-radius:125px;
}

.left{
  text-align:left !important;
}

